html{scroll-behavior: smooth;}
.header{
    display: flex;
}
.headerlink{
    width: 20%;
    display: block;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out 300ms;
}
.headerlink:hover{
    opacity: 0.6;
    transform: translateX(-20px) scale(1.2);
}
.headertitle{
    width: 79%;
    color: crimson;
    text-align: center;
}
.sitelinks{
    background-color: rgb(150, 26, 26);
    display: flex;
    justify-content: center;
}
.navlink{
    display: inline-block;
    width: 33.3%;
    text-align: center;
    padding: 1em 2em;
    color: aliceblue;
}
.navlink:hover{
    background-color: whitesmoke;
    border-radius: 12px;
    color: brown;
}

.mainbody{
    display: flex;
    flex-wrap: wrap;
}
.main_div{
    width: 66%;
    }
.pagelinks{
    width: 30%;
}
.main_div section{
    background-color: rgb(123, 103, 11);
    padding: 1em 2em;
}
.main_div article{
    background-color: rgb(39, 128, 128);
    padding: 1em 2em;
}
.pagelinks{
    padding: 1em;
}
.linknav{
    border-bottom: 1px rgb(138, 68, 68) dotted;
    display: block;
    padding: 1em;
    text-decoration: none;
    color: chocolate;
}
.linknav:hover{
    color: rgb(118, 22, 102);
    font-weight: 900;
}
img{width: 100%; display: block;}
.figureimg{
    width: 70%;
    margin: 2% auto;
    position: relative;
    box-shadow: 1px 1px 5px rgb(20, 21, 18);
    border-radius: 6px;
    overflow: hidden;
}
.imgtitle{
    position: absolute;
    color: rgb(28, 32, 88);
    background-color: rgb(157, 255, 0);
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
}
/*======FOOTER======*/
.contact{
    background-color: rgb(114, 73, 73);
    color: azure;
    display: flex;
    padding: 30px;
}
.contact{
    width: 33%;
}
.policylink{
    color: aqua;
    text-decoration: none;
    display: block;
    padding-top: 10px;
}
.followicon{
    width: 50px;
    display: inline-block;
    padding-right: 1em;
    opacity: 0.5;
}
.followicon:hover{
    opacity: 1;
}